.achievements{
    border: hsl(30, 70%, 60%) 2px solid;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.15);
}

.achievements thead tr{
    background-color: hsl(260, 18%, 10%);
    text-align: center;
}

.achievements th, td{
    padding: 12px 15px;
    text-align: center;
}

.achievements td > *{
    vertical-align: middle;
}

.achievements tbody tr{
    border-bottom: thin solid #dddddd;
}

.achievements tbody tr:nth-of-type(even) {
    background-color: hsl(260, 18%, 10%);
}

.achievements tbody tr:last-of-type {
    border-bottom: 2px solid hsl(30, 70%, 60%);
}

.achievements img{
    height: 100px;
    width: 100px;
    max-height: 100%;
    max-width: 100%;
    padding-right: 10px;
}

@keyframes scroll-indicator {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}

#scroll {
    width: 5rem;
    height: 5rem;
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0 5px 1.25rem 0;
    z-index: 1;
}

#scroll svg{
    width: 100%;
    height: 100%;
    fill:hsl(30, 70%, 60%);
    animation: scroll-indicator 1.5s 3 forwards; /* "forwards" makes it go back to display:none at the end */
}

@media only screen and (max-width: 1000px){
    .achievements{
        min-width: 200px;
    }

    .achievements th{
        display: none;
    }

    .achievements tr{
        margin-bottom: 40px;
    }

    .achievements td{
        display: block;
        text-align: left;
    }

    .achievements td:before{
        float: left;
        font-weight: bold;
    }

    .achievements img{
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 600px){
    #scroll{
        width: 4rem;
        height: 4rem;
        right: 0;
        bottom: 0;
        padding: 0 5px 6rem 0;
        z-index: 1;
    }
}